@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

html {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

.container {
	max-width: 1240px;
	padding: 0px 20px;
	width: 100%;
	margin: 0 auto;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* Header */
header {
	background-color: #282828;
	height: 70px;
}

.logo-img {
	height: 50px;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}

.navigation {
	display: flex;
	gap: 10px;
}

.navigation a {
	color: #fff;
}
/* Header */
/* ---------- */
/* ---------- */

/* ---------- */
/* ---------- */
/* ResetPassword */
.resetPassword {
	max-width: 500px;
	margin: 0 auto;
}

.titlu-resetPassword {
	padding: 26px 0 20px;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
}

.titlu-resetPassword hr {
	border: 0;
	border-top: 1px solid #eee;
	margin-top: 14px;
}

.user-form form {
	display: flex;
	flex-direction: column;
	padding-top: 7px;
	max-width: 350px;
	margin: 0 auto;
}

.user-form label {
	font-weight: 600;
}

.user-form input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.4px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; */
}

.user-form input:focus {
	box-shadow: none;
	outline: 0;
	/* background-color: #b5b5b6; */
	/* border-color: #66afe9; */
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6); */
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6); */
}

.user-form button {
	cursor: pointer;
	padding: 8px 13px;
	margin-top: 20px;
	margin-left: auto;
	line-height: 20px;
	color: #fff;
	box-sizing: border-box;
	border: 1px solid rgb(217, 83, 79);
	border-radius: 4px;
	background: rgb(177, 3, 3);
}

/* ------------- */
/* ------------- */
/* ------------- */
/* Footer */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #282828;
}

.footer-content {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	font-size: 9px;
}

.footer-pravaci {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer-pravaci a {
	color: #fff;
}

.footer-pravaci a:hover {
	text-decoration: underline;
}

.footer-copyright {
	text-transform: uppercase;
	color: #fff;
}

/* ------------- */
/* ------------- */
/* ------------- */
/* Page firma */
.img-compani {
	margin-top: 40px;
	height: 229px;
	width: 100%;
}

.titlu-firma {
	text-transform: uppercase;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	color: #282828;
}

.titlu-hr {
	max-width: 40px;
	color: #b10303;
	border: 1px solid #b10303;
	padding: 0;
	margin: 6px auto;
}

.content-firma {
	margin-top: 30px;
	max-width: 800px;
	margin: 0 auto;
	font-size: 13px;
	color: #282828;
}

.content-firma p {
	padding: 10px 50px 15px 40px;
}

.content-firma__important {
	color: #ac0303;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 13px;
}

/* Page login */
.titlu-user {
	padding: 26px 0 20px;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
}

.login-info {
	max-width: 1000px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	padding: 15px;
	margin: 25px auto;
	border: 1px solid #faebcc;
	border-radius: 4px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.login-info a {
	color: #ac0303;
}

.login-info a:hover {
	text-decoration: underline;
}

.login-form input + label {
	margin-top: 15px;
}

/* Page Registration */
.text-registration {
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px 0 20px;
	font-size: 13px;
	color: #282828;
}

.registration-form form {
	padding-top: 10px;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form-group label {
	color: #282828;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0%;
}

.form-group input,
.form-group select {
	height: 29px;
	padding: 4px 8px;
	font-size: 13px;
	line-height: 1.4px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; */
}

.form-group input:focus,
.form-group select:focus {
	box-shadow: none;
	outline: 0;
	/* background-color: #b5b5b6; */
	/* border-color: #66afe9; */
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6); */
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6); */
}

.form-group__polici {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 14px;
}

.form-group__polici label {
	display: flex;
	flex-direction: row;
}

.registration-form button {
	margin-top: 36px;
	max-width: 97px;
	padding: 8px 13px;
	margin: 0 auto;
	color: #fff;
	background-color: #b10303;
	border: 1px solid #b10303;
	border-radius: 4px;
	cursor: pointer;
}

/* Page Rules */
.content-rules {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	color: #282828;
	font-size: 16px;
	line-height: 17.6px;
	text-align: justify;
}

.title-item {
	font-size: 17px;
	font-weight: 700;
	line-height: 18.7px;
	text-transform: uppercase;
	text-align-last: left;
}

.rules-items hr {
	max-width: 100%;
	color: #b10303;
	border: 1px solid #b10303;
	padding: 0;
	margin: 6px auto 0 auto;
}

.rules-items ol {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.rules-items ol {
	padding-top: 47px;
	margin-left: 25px;
}

.rules-items a {
	color: #ac0303;
	font-weight: 700;
}

.rules-items a:hover {
	color: #23527c;
	text-decoration: underline;
}

.auction-link {
	padding: 30px 10px 40px;
	margin-left: 40px;
}

.rules-ads {
	font-size: 18px;
}

.rules-ads a {
	font-weight: normal;
}

.rules-ads p {
	margin: 10px 0 40px 25px;
	font-size: 15px;
	line-height: 27px;
}
.rules-price {
	font-size: 15px;
}

.rules-price p {
	margin: 20px 0 25px 50px;
}

.rules-price ul {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

/* Pagin FAQ */
.content-faq {
	max-width: 800px;
	margin: 0 auto;
	color: #282828;
	font-size: 14px;
}

.content-faq a {
	color: #ac0303;
	font-weight: bold;
}

.content-faq > p {
	padding: 10px 20px 35px 20px;
	letter-spacing: 0.8px;
	text-align: justify;
}

.faq-details {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0 10px 10px 20px;
}

.faq-details summary {
	font-size: 16px;
	line-height: 17.6px;
}

.faq-details summary:hover {
	text-decoration: underline;
}

.faq-details summary::marker {
	font-size: 25px;
	content: '+';
	font-weight: bolder;
	color: #ac0303;
}

.faq-details summary hr {
	border: 0;
	border-top: 1px solid #eee;
	margin-top: 8px;
}

.faq-details details p {
	padding: 15px;
	text-align: justify;
	letter-spacing: 0.8px;
	line-height: 1.6;
}

/* Page index */
.search-and-carousel {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	gap: 40px;
}

.search-form form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 420px;
}

.group-search {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.group-search label {
	font-size: 16px;
	font-weight: bold;
}

.input-group {
	display: flex;
	flex-direction: row;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
}

.input-group input {
	border: 1px solid #ccc;
	width: 100%;
	padding: 3px 10px;
}

.input-group input:focus {
	box-shadow: none;
	outline: 0;
}

.glyphicon-info-sign {
	position: relative;
	cursor: pointer;
}

.glyphicon-info-sign::before {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #555;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.glyphicon-info-sign::after {
	content: 'ð”¦';
	font-size: 18px;
	font-weight: bolder;
	position: absolute;
	color: #eee;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-btn {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 14px;
	border: 0;
	border-radius: 8px;
	max-width: 120px;
	text-align: left;
	background-color: #ac0303;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: lowercase;
	cursor: pointer;
}

.loop-btn {
	position: relative;
}

.loop-btn::after {
	content: '\1F50D';
	font-size: 18px;
	font-weight: bolder;
	position: absolute;
	color: #eee;
	top: 35%;
	right: -30px;
	transform: translate(0%, -50%);
}

.carousel-car {
	width: 500px;
	height: 300px;
	object-fit: cover;
}

.carousel-car:not(:first-child) {
	display: none;
}

.content-cars {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}

.content-cars h2 {
	font-weight: normal;
}

.content-car {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 100px;
}

.car-item {
	width: 100%;
	background-color: #eee;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30px;
	height: 150px;
}

.car-img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.car-item__content {
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.car-item__content a {
	font-size: 18px;
	color: #282828;
	padding-bottom: 35px;
}

.car-item__content p > span {
	font-weight: bold;
}

.car-item__more-info {
	display: flex;
	gap: 60px;
}

.car-item__more-info span {
	font-weight: 700;
}

.car-auction {
	padding: 15px 0;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.auction-time {
	color: #282828;
	font-size: 13px;
	text-transform: uppercase;
}

.auction-time span {
	font-weight: 700;
	text-transform: lowercase;
}

.auction-entry-actions {
	margin-left: 30px;
	font-size: 12px;
	/* padding: 0 0 0 4px; */
	padding: 0 0 0 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 0;
}

.auction-action-make-offer {
	font-size: 12px;
	background-color: #555;
	border-radius: 8px;
	position: relative;
	padding: 10px 0 10px 40px;
}

.auction-action-make-offer a {
	bottom: 0;
	right: -5px;
	position: absolute;
	padding: 3px 5px;
	border-radius: 8px;
	background-color: #ac0303;
	font-weight: 700;
	color: #fff;
	margin-right: -10px;
}

.auction-action-make-offer a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1000px) {
	.navigation {
		display: none;
	}
}
